@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
:root {
    --main: #ffe055;
    --second: #e0225e;
    --bright: #f4f334;
    --font-primary: rgb(255, 255, 255);
}
img {
    display: block;
    max-width: 100%;
}
h2 {
    font-size: 2.5em;
    font-weight: 400;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.1em;
}
p {
    font-size: 0.9em;
    font-weight: 400;
}
p + p {
    margin-top: 1em;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 1.5em;
}
.button {
    color: var(--font-primary);
    padding: 1em 2em;
}
/*/////////HEADER////////*/
#toggle {
    display: none;
}
.header {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 0 1.5em;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__icon label {
    color: var(--font-primary);
    cursor: pointer;
}
.header__logo a {
    color: var(--font-primary);
}
.menu {
    top: 60px;
    position: fixed;
    display: none;
    width: 100%;
}
.menu__item {
    background-color: var(--second);
    padding: 0.5em 1.5em;
    color: var(--font-primary);
}
.menu__item:hover {
    background-color:#9e1641
}
#toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
}

/*/////////INTRO////////*/
.intro {
    background-color: var(--main);
    height: 90vh;
}
.intro__title {
    color: var(--font-primary);
    margin: 1em;
}

/*/////////DESCRIPTION////////*/
.description {
    background: rgba(0, 0, 0, 0.6) url(/ofelia-website/images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.description__article {
    margin-top: 1.5em;
}
.description__paragraph {
    color: var(--font-primary);
    letter-spacing: 2px;
    line-height: 1.3em;
}

/*/////////PHOTOS////////*/
.photos {
    background-color: var(--bright);
}
.photos__title {
    color: var(--second);
}
.photos__wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 3vh 0;
}
.photos__button {
    background-color: var(--second);
}

/*/////////VIDEOS////////*/
.videos {
    background-color: var(--main);
    padding: 10vh 0;
}
.videos__title {
    color: var(--font-primary);
}
.videos__container {
    margin: 3vh 0;
    max-width: 100%;
}
.videos__video {
    max-width: 100%;
}
.videos__button {
    background-color: var(--second);
}

/*/////////STORY////////*/
.story {
    background-color: var(--second);
}
.story__title {
    color: var(--font-primary);
}
.story__paragraph {
    color: var(--font-primary);
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: center;
    margin-top: 1.5em;
}

/*/////////FAMILY////////*/
.family {
    background-color: var(--bright);
}

/*/////////PHOTOS PAGE////////*/
.body__photos {
    background-color: var(--main);
}
.top {
    padding-top: 10vh;
}

.top h2 {
    text-align: center;
    color: var(--font-primary);
    margin: 1.5em 0;
}

.gallery {
    column-count: 1;
    column-gap: 0.5em;
    padding: 0 0.5em;
}

.gallery__container {
    display: inline-block;
    overflow: hidden;
}

.gallery__container img {
    width: 100%;
    transition: 0.25s ease-in-out;
}

.gallery__container:hover img {
    transform: scale(1.1);
    z-index: -1;
}